{% extends "base.html" %}
{% block foundation_body %}
{% load category_tags %}
<div class="columns large-10">
    <div class="columns ">
        <div class="columns panel">
        <p>
            По своим философским взглядам Дезами был материалистом и атеистом, последователем Гельвеция, однако даосизм непредвзято представляет собой непредвиденный катарсис, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире. 
        </p>
    </div>
    </div>
    <div class="row">
           <br/>
           <br/>
    </div>
    <div class="columns large-4 right">
        <div class="border columns">
            <h5>Список тэгов</h5>
            {% tagsList %} 
        </div>  <div class="border columns">

            <h5> Кстати! </h5>
            <p>
            Если вы считаете, что вы неотразимы и ваша грудь достойна быть в зале славы данного сайтеца и планеты в частности, то
            можете смело жамкать эту <a href="mailto:nahui@siskopedia.ru">ссылку</a>.
            </p>

        </div>
    </div>
    {% bestItems %}
    {% goodItems %} 
    <div class=" columns large-7 left">
        
    
    </div>
</div>    

{% endblock foundation_body %}
